.bodyForm {
    background-color:white;
    text-align: center;
    width: 450px;
}

.image-car{
    flex: 1;
    padding: 20px;
    width: 100%;
    max-width: 250px; 
    height: auto;
    border-radius: 8px;
  }
  
  
  .input-propCar {
    width: 330px; 
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #333;
    color: #ffc107;
    margin-bottom: 10px; 
  }
  
  
  .addCar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ffc107;
    color: #1b1b1b;
    font-size: 16px;
    cursor: pointer;
  }
  
  .addCar:hover {
    background-color: #80a674;
  }
  
  
  .label-car {
    color: #ffc107;
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color:yellow;
}

.input-propCar {
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
}

.addCar {
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    border:yellow;
    color:black;
    cursor: pointer;
    background-color: white;
    width: 20%;
    font-size: 16px;
}

.addCar:hover {
    background-color: #0056b3;
}