

/* .bodyForm {
    background-color: white;

    text-align: center;
    width: 450px;
} */
/* src/App.css or any other component-specific CSS file */

/* Apply background to the entire app container */
html, body {
    height: 100%;
    margin: 0;
    background-image: url('../background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  
  .app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .app-container {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    flex-grow: 1;
  }
  
.image-car{
    flex: 1;
    padding: 20px;
    width: 100%;
    height: auto;
    width: 300px;
    border-radius: 8px;

}

/*  */

.containerCar {
    background-color: black;
    padding: 10px 20px;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    transition: transform 0.2s;
    border-radius: 15px;
    box-shadow: 0 0 20px;
}

.detailCar {
    font-size: x-large;
    text-align: center;
    color: yellow;
}


.label-car {
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color:yellow;
}

.input-propCar {
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
}

.addCar {
    padding: 10px 15px;
    border-radius: 6px;
    margin: 15px;
    border:yellow;
    color:black;
    cursor: pointer;
    background-color: white;
    width: 20%;
    font-size: 16px;
}

.addCar:hover {
    background-color: #0056b3;
}
