.login-form, .signup-form, .signupcompany-form {
  display: flex; /* Flexbox for layout */
  flex-direction: column; /* Stack form elements */
  /* gap: 15px;  */
  background-color: #1b1b1b; /* Light background for better contrast */
  padding: 20px; /* Padding for spacing */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  max-width: 450px; /* Max width for form */
  margin: 20px auto; /* Centered on the page */
}
.login-form{

  max-width: 400px;

}


.login-label, .signup-label, .signupcompany-label {
  font-weight: bold; /* Bold labels */
  color: #ffc107;
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-top: 7px;
  margin-left: 15px;
}


.login-input, .signup-input, .signupcompany-input{
  padding: 10px ; /* Padding for input-request fields */
  border-radius: 5px ; /* Rounded corners */
  border: 3px solid #656363; /* Light border */
  font-size: 14px; /* Font size */
  margin-right: 5px;
  margin-left: 15px;
  transition: border-color 0.3s; /* Smooth transition for border */
}

.login-input:focus, .signup-input:focus, .signupcompany-input:focus {
  border-color: goldenrod; /* Highlight on focus */
}

.login-submit-button, .signup-submit-button, .signupcompany-submit-button {
  padding: 10px 20px; /* Button padding */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  background-color: goldenrod; /* Button color */
  color: white; /* Button text color */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s; /* Smooth transition */
  margin-top: 10px;
}

.login-submit-button:hover, .signup-submit-button:hover, .signupcompany-submit-button:hover {
  background-color: #ffcc00; /* Slightly lighter on hover */
}


.login-submit-div, .signup-submit-div, .signupcompany-submit-div {
  color: white;
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 10px; /* Space between the form and footer */
}
